
.project {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 0!important;
    float: left
}

.project-hover {
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: rgba(33, 97, 140, .7);
    padding: 20% 20px 15px!important
}

.project-hover hr {
    height: 30px;
    width: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: rgba(255, 255, 255, 1);
    border: 0
}

.project-hover a {
    color: rgba(255, 255, 255, 1);
    padding: 2px 22px;
    line-height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.project-hover a:hover {
    border-color: rgba(51, 51, 51, 1);
    color: rgba(51, 51, 51, 1);
    background-color: #FFF
}

.project:hover .project-hover {
    opacity: 1
}

.project:hover .project-hover hr {
    width: 100%;
    height: 5px
}

.col-lg-4 {
    padding: 2px!important
}

.card {
    border: 0!important
}

.card-body {
    padding: 0!important
}

.card-header {
    background-color: rgba(33, 97, 140, .8);
    color: #fff
}

.card.formulario {
    background-color: rgba(33, 97, 140)!important
}

@media screen and (min-width:240px) and (max-width:768px) {

    .card {
        height: 100%;
        width: 100%
    }
    .col-lg-4 {
        padding: 0!important
    }
}

